!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %title Rack::PushNotification Console
    %link{rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}
    %link{rel: "license", href: "http://opensource.org/licenses/MIT", :title => "MIT License"}
    %link{rel: "description", href: "Push Notifications"}
    %link{rel: "stylesheet", href: "/stylesheets/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}

  %body
    

    %div{role: "container"}
      %header
        %h1 Push Notifications
        %nav
          %ul
            %li
              %a{href: "/"} Devices
              %a{href: "/compose"} Compose              

      %section{role: "main"}

    %script{type: "text/javascript", src: "/javascripts/application.js" }
